{% extends 'layouts/base.html' %}

{% block main_content %}
{% for post in posts %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.subtitle}}</h6>
        <p class="card-text">{{post.content}}</p>
        <a href="{{ url_for('post_detail_view', post_id=post.id) }}">view</a>
        <a href="{{ url_for('post_edit_view', post_id=post.id) }}">edit</a>
        <a href="{{ url_for('post_delete_view', post_id=post.id) }}">delete</a>



    </div>
</div>
{% endfor %}
{% endblock %}